{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Quizz - Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
    <div class="form-signin">
        <form method="POST">
            <h1 class="question_title">Регистрация</h1>
            <br>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <h5><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</h5>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account" onclick="this.disabled=true,this.form.submit();">Регистрация</button>
            </div>
        </form>
    </div>
</div>
        <br>
        <br>
        <br>
{% endblock %}
